@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

section
{
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background:url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

#img-grp
{
  float: left;
  margin-right: -35rem;
  margin-top: -5rem;
  padding: .5rem;
  border-style: solid;
  border-color: white;
}

.content
{
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2
{
  color: #226A80;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span
{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.content .info p
{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content .info-btn
{
  color: #fff;
  background: #226A80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover
{
  background: #0C4F60;
}

.content .info h2
{
  font-size: 45px;
  line-height: 50px;
}

.content .info h2 span
{
  font-size: 40px;
  font-weight: 600;
}

.content .info p
{
  font-size: 14px;
}

@media (max-width: 560px)
{
  .content .info h2
  {
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span
  {
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p
  {
    font-size: 14px;
  }
}